/* 
==============================================
CONTENT:	Oia Poke
AUTHOR:		Sebastian Kildow-mefret
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

/* 
If you want to add partials, use Sass Modules via @use:
@use 'variables';

Usage: partial-name.variable/mixin/function-name:
background: variables.$primary-color;
*/

@import "reset";
@import "variables";
@import "mixins";

/* Main Layout ================================= */

* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 13px;
}

/* Type Layout ================================= */

h1 {
  font-family: "Pacifico", cursive;

  font-size: 43px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 25px;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Content ================================= */

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.btn {
  padding: 10px;
  border: solid 1px $green;
}

/* Nav ================================= */

.order-btn {
  background: $green;
  color: white;
  text-transform: uppercase;
  height: 48px;
  padding: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include bp-med {
    order: 1;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translateX(-50%);
  text-align: center;
  &__img {
    width: 80px;
    height: 150px;
    margin: 0px auto;
  }

  &__caption {
    display: none;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    line-height: 1.2;
    margin: 0px auto;
    text-align: center;
  }
  @include bp-med {
    top: 20%;
    left: 3%;
    &__image {
    }
    &__caption {
      display: block;

      margin-left: 40px;
      font-family: $main-font;
      font-weight: lighter;
    }
  }
}

.nav-menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

.nav-holder {
  display: none;

  &_open {
    display: flex;
    background: $yellow;
    position: absolute;
    right: 0;
    top: 0;
    width: 329.6px;
    z-index: 3;
  }

  &__items {
    display: flex;
    margin: 16px 36px 0 0;
    width: 524px;
    justify-content: space-between;
    color: #e8e6e6;
    font-weight: bold;
    font-size: 16px;

    &_open {
      flex-direction: column;
      text-align: left;
      margin: 44px 0 300% 32px;
      color: black;
      height: 288px;
    }
  }

  &__link {
    text-transform: uppercase;
    padding: 16px;

    &_active {
      color: $green;
    }

    &:hover {
    }
  }

  @include bp-med {
    display: block;
  }
}
.nav-header {
  display: flex;
  position: relative;
}
.nav-btn {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 16px;
  justify-content: space-between;
  margin: 24px 16px 0 auto;
  cursor: pointer;
  z-index: 4;
  position: relative;

  &__line {
    width: 100%;
    height: 3.2px;
    background: white;
  }
  @include bp-med {
    display: none;
  }
}

/* Hero ================================= */

.hero {
  background: url(../img/header_img.jpg);
  background-position: bottom;
  color: white;
  display: flex;
  flex-direction: column;
  background-size: 968px;
  padding-bottom: 160px;
  text-align: center;

  &__header {
    font-size: 43px;
    width: 90%;
    margin: 184px auto 24px;
  }

  &__sub {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1.425px;
  }

  &__caption {
    margin-top: 20px;
    font-size: 20px;
  }
  @include bp-med {
    background-size: cover;
    background-position: center;
    padding-bottom: 25rem;
    &__header {
      font-size: 176px;
    }
    &__sub {
      font-size: 26px;
    }
    &__caption {
      font-size: 23px;
    }
  }
}

/* About ================================= */
.about {
  display: grid;
  grid-template-columns: 1fr repeat(12, 1fr) 1fr;
  grid-template-rows: 1fr repeat(12, 1fr) 1fr;
  height: 70vh;
  width: 100vw;

  color: $green;
  background: $yellow;

  padding-bottom: 10px;
  position: relative;

  &__bg {
    background-image: url(/src/img/main_img.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2 / span 11;
    grid-row: 2 / span 10;

    border: white solid 10px;
  }

  &__content {
    background: white;
    text-align: center;
    grid-column: 3 / span 11;
    grid-row: 3 / span 10;
    position: relative;
    line-height: 1.3;
  }

  &__header {
    font-family: "Pacifico", cursive;
  }

  &__text {
    line-height: 1.7;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
}

/* Gallery ================================= */

.gallery {
  &__holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 25px;
    padding: 10px;
  }

  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 100%;
  }
}

/* Catering ================================= */

.catering {
  display: grid;
  grid-template-columns: 1fr repeat(12, 1fr) 1fr;
  grid-template-rows: 1fr repeat(12, 1fr) 1fr;
  height: 70vh;
  width: 100vw;
  /*bg*/
  background-image: url(/src/img/catering_img.jpg);
  background-attachment: fixed;
  color: $green;
  &__header {
    font-family: "Pacifico", cursive;
  }

  &__text {
    line-height: 1.7;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
  }
  &__content {
    background: white;
    border-radius: 6%;
    text-align: center;
    grid-column: 2 / span 12;
    grid-row: 2 / span 12;
    position: relative;
    line-height: 1.3;
  }
}

/* Footer ================================= */
.footer {
  display: grid;
  height: 70vh;
  width: 100vw;
  color: $green;
  padding-top: 20px;
  &__content {
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
  }
  &__header {
    font-family: "Pacifico", cursive;
  }

  &__sub {
    font-size: 22px;
    margin-bottom: 40px;
    padding: 20px;
  }

  &__sec {
    margin-bottom: 60px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.2;
    margin-top: unset;
  }
}
