/* 
==============================================
CONTENT:	Oia Poke
AUTHOR:		Sebastian Kildow-mefret
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

@import "reset";
@import "variables";
@import "mixins";

/* Main Layout ================================= */

* {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;

  font-family: $main-font;
  font-size: 0.8125rem;
}

/* Type Layout ================================= */

h1 {
  font-family: $head-font;

  font-size: 2.6875rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 1.5625rem;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Content ================================= */

.btn {
  font-size: 1rem;
  padding: 0.625rem;
  border: solid 0.0625rem $green;
  &:hover {
    background-color: $green;
    color: white;
  }
}

/* Nav ================================= */

.order-btn {
  background: $green;
  color: white;
  text-transform: uppercase;
  height: 3rem;
  padding: 1rem;
  display: flex;
  text-align: center;

  justify-content: center;
  align-items: center;
  @include bp-med {
    order: 1;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;

  /*help plz*/
  top: 100%;
  left: 35%;
  transform: translateX(-20%);
  text-align: center;
  &__img {
    height: 9.375rem;
    margin: 0rem auto;
  }

  &__caption {
    display: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.4375rem;
    line-height: 1.2;

    text-align: center;
  }
  @include bp-med {
    top: 20%;
    left: 2%;
    &__image {
    }
    &__caption {
      display: block;

      font-family: $main-font;
      font-weight: lighter;
    }
  }
}

.nav-menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

.nav-holder {
  display: none;

  &_open {
    display: flex;
    background: $yellow;
    position: absolute;
  }

  &__items {
    display: flex;
    margin: 1rem 2.25rem 0 0;

    justify-content: space-between;
    color: #e8e6e6;
    font-weight: bold;
    font-size: 1rem;

    &_open {
      flex-direction: column;
      text-align: left;
      color: black;
    }
  }

  &__link {
    text-transform: uppercase;
    padding: 1rem;

    &_active {
      color: $green;
    }

    &:hover {
      color: $green;
    }
  }

  @include bp-med {
    display: block;
  }
}
.nav-header {
  display: flex;
  position: relative;
}
.nav-btn {
  display: flex;
  flex-direction: column;
  width: 1.75rem;
  height: 1rem;
  justify-content: space-between;
  margin: 1.5rem 1rem 0 auto;
  cursor: pointer;
  position: relative;

  &__line {
    height: 0.25rem;

    min-width: 100%;
    background: white;
  }
  @include bp-med {
    display: none;
  }
}

.social {
  .social__icons {
    display: none;
    @include bp-med {
      position: absolute;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      margin-left: 4.375rem;
      top: 12.5rem;
      right: auto;
      min-height: 18.75rem;
    }
  }
}

/* Hero ================================= */

.hero {
  background: url(../img/header_img.jpg);
  background-position: bottom;
  color: white;
  display: flex;
  flex-direction: column;
  background-size: 60.5rem;
  padding-bottom: 10rem;
  text-align: center;

  &__header {
    font-size: 2.6875rem;
    width: 90%;
    margin: 11.5rem auto 1.5rem;
  }

  &__sub {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.625rem;
    letter-spacing: 0.0891rem;
  }

  &__caption {
    margin-top: 1.25rem;
    font-size: 1.25rem;
  }
  @include bp-med {
    background-size: cover;
    background-position: center;
    padding-bottom: 25rem;
    &__header {
      font-size: 11rem;
    }
    &__sub {
      font-size: 1.625rem;
    }
    &__caption {
      font-size: 1.4375rem;
    }
  }
}

/* About ================================= */
/* Conver to reusable mixin ================================= */
.about {
  display: grid;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  color: $green;
  background: $yellow;
  height: 80vh;
  width: 100vw;
  padding-bottom: 0.625rem;
  position: relative;

  &__bg {
    background-image: url(/src/img/main_img.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2 / span 8;
    grid-row: 2 / span 9;
    border: white solid 0.625rem;
  }

  &__content {
    background: white;
    text-align: center;
    grid-column: 4 / span 8;
    grid-row: 3 / span 9;
    position: relative;
    line-height: 1.3;
    padding-bottom: 1.25rem;
  }

  &__header {
    font-family: $head-font;
    padding-top: 1.25rem;
  }

  &__text {
    line-height: 1.4;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
  }
  &__line {
    display: none;
  }
  @include bp-med {
    height: 100vh;

    &__bg {
      grid-column: 3 / span 4;
      grid-row: 2 / span 10;
    }
    &__content {
      grid-column: 5 / span 6;
      grid-row: 4 / span 7;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
    &__header {
      grid-column: 2 / span 3;
      grid-row: 1 / span 1;
      font-size: 3rem;
      margin-bottom: 2.5rem;
    }
    &__line {
      display: block;
      min-height: 2.5rem;
      width: 0.25rem;
      margin-left: 2.8125rem;
      grid-column: 3 / span 3;
      grid-row: 2 / span 3;
      background-color: $green;
    }
    &__text {
      grid-column: 1 / span 2;
      grid-row: 2 / span 4;
      margin-left: 1.25rem;
    }
    &-btn {
      max-width: 11.25rem;
      max-height: 2.5rem;
      grid-column: 4 / span 5;
      grid-row: 3 / span 3;
    }
  }
}

/* Gallery ================================= */

.gallery {
  &__holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10.625rem, 1fr));
    grid-auto-rows: auto;
    gap: 1.5625rem;
    padding: 0.625rem;

    @include bp-med {
      grid-template-columns: repeat(4, 1fr);
      gap: 3.125rem;
      margin: 1.25rem;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 100%;
    transition: 1s ease;
    &:hover {
      -webkit-filter: blur(0.3125rem);
      transition: 1s ease;
    }
  }
}

/* Catering ================================= */

.catering {
  display: grid;
  grid-template-columns: 1fr repeat(10, 1fr) 1fr;
  grid-template-rows: 1fr repeat(10, 1fr) 1fr;
  height: 100vh;
  width: 100vw;

  /*bg*/
  background-image: url(/src/img/catering_img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: $green;
  &__header {
    font-family: "Pacifico", cursive;
    margin-bottom: 1.25rem;
    padding-top: 1.25rem;
  }

  &__text {
    line-height: 1.7;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-bottom: 2.5rem;
    font-size: 1.125rem;
  }
  &__content {
    background: white;
    border-radius: 3%;
    text-align: center;
    grid-column: 2 / span 10;
    grid-row: 2 / span 10;
    margin-bottom: 1.25rem;
    position: relative;
    padding-bottom: 0.625rem;
    line-height: 1.3;
  }

  @include bp-med {
    height: 100vh;

    &__content {
      grid-column: 4 / span 6;
      grid-row: 4 / span 6;
      min-height: fit-content;
    }
  }
}

/* Footer ================================= */
.footer {
  display: grid;
  height: 70vh;
  width: 100vw;
  color: $green;

  padding-top: 1.25rem;
  &__content {
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
  }
  &__header {
    font-family: "Pacifico", cursive;
    padding: 1.25rem;
  }

  &__sub {
    font-size: 1.375rem;
    margin-bottom: 2.5rem;
    padding: 1.25rem;
  }

  &__sec {
    margin-bottom: 3.75rem;
  }
  &__text {
    font-size: 1.125rem;
    line-height: 1.2;
    margin-top: unset;
  }
  @include bp-med {
    padding: 6.25rem;
    background-color: #fcdcec;
    &__content {
      background-color: white;
    }
    &__info {
      display: flex;
      flex-direction: row;

      justify-content: space-around;
      text-align: center;
    }
  }
}
