/* 
==============================================
CONTENT:	Oia Poke
AUTHOR:		Sebastian Kildow-mefret
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */

@import "reset";
@import "variables";
@import "mixins";

/* Main Layout ================================= */

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: 13px;
}

/* Type Layout ================================= */

h1 {
  font-family: $head-font;

  font-size: 43px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 25px;
}

a {
  color: unset;
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* Content ================================= */

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}

.btn {
  font-size: 16px;
  padding: 10px;
  border: solid 1px $green;
  &:hover {
    background-color: $green;
    color: white;
  }
}

/* Nav ================================= */

.order-btn {
  background: $green;
  color: white;
  text-transform: uppercase;
  height: 48px;
  padding: 16px;
  display: flex;
  text-align: center;

  justify-content: center;
  align-items: center;
  @include bp-med {
    order: 1;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 40%;
  transform: translateX(-20%);
  text-align: center;
  &__img {
    width: 80px;
    height: 150px;
    margin: 0px auto;
  }

  &__caption {
    display: none;
    text-transform: uppercase;
    color: white;
    font-size: 23px;
    line-height: 1.2;
    margin: 0px auto;
    text-align: center;
  }
  @include bp-med {
    top: 20%;
    left: 3%;
    &__image {
    }
    &__caption {
      display: block;

      margin-left: 40px;
      font-family: $main-font;
      font-weight: lighter;
    }
  }
}

.nav-menu {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-end;
}

.nav-holder {
  display: none;

  &_open {
    display: flex;
    background: $yellow;
    position: absolute;
    right: 0;
    top: 0;
    width: 340px;
  }

  &__items {
    display: flex;
    margin: 16px 36px 0 0;
    width: px;
    justify-content: space-between;
    color: #e8e6e6;
    font-weight: bold;
    font-size: 16px;

    &_open {
      flex-direction: column;
      text-align: left;
      color: black;
    }
  }

  &__link {
    text-transform: uppercase;
    padding: 16px;

    &_active {
      color: $green;
    }

    &:hover {
      color: $green;
    }
  }

  @include bp-med {
    display: block;
  }
}
.nav-header {
  display: flex;
  position: relative;
}
.nav-btn {
  display: flex;
  flex-direction: column;
  width: 28px;
  height: 16px;
  justify-content: space-between;
  margin: 24px 16px 0 auto;
  cursor: pointer;
  position: relative;

  &__line {
    height: 4px;

    min-width: 100%;
    background: white;
  }
  @include bp-med {
    display: none;
  }
}

.social {
  .social__icons {
    display: none;
    @include bp-med {
      position: absolute;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
      margin-left: 70px;
      top: 200px;
      right: auto;
      min-height: 300px;
    }
  }
}

/* Hero ================================= */

.hero {
  background: url(../img/header_img.jpg);
  background-position: bottom;
  color: white;
  display: flex;
  flex-direction: column;
  background-size: 968px;
  padding-bottom: 160px;
  text-align: center;

  &__header {
    font-size: 43px;
    width: 90%;
    margin: 184px auto 24px;
  }

  &__sub {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 1.425px;
  }

  &__caption {
    margin-top: 20px;
    font-size: 20px;
  }
  @include bp-med {
    background-size: cover;
    background-position: center;
    padding-bottom: 25rem;
    &__header {
      font-size: 176px;
    }
    &__sub {
      font-size: 26px;
    }
    &__caption {
      font-size: 23px;
    }
  }
}

/* About ================================= */
.about {
  display: grid;
  grid-template-columns: 1fr repeat(12, 1fr) 1fr;
  grid-template-rows: 1fr repeat(12, 1fr) 1fr;
  height: 80vh;
  width: 100vw;

  color: $green;
  background: $yellow;

  padding-bottom: 10px;
  position: relative;

  &__bg {
    background-image: url(/src/img/main_img.jpg);
    background-size: cover;
    background-position: center;
    grid-column: 2 / span 11;
    grid-row: 2 / span 10;

    border: white solid 10px;
  }

  &__content {
    background: white;
    text-align: center;
    grid-column: 3 / span 11;
    grid-row: 3 / span 12;
    position: relative;
    line-height: 1.3;
    padding-bottom: 20px;
  }

  &__header {
    font-family: "Pacifico", cursive;
    padding-top: 20px;
  }

  &__text {
    line-height: 1.4;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__line {
    display: none;
  }
  @include bp-med {
    height: 100vh;

    &__bg {
      grid-column: 4 / span 6;
      grid-row: 2 / span 12;
    }
    &__content {
      grid-column: 5 / span 8;
      grid-row: 4 / span 8;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
    &__header {
      grid-column: 2 / span 3;
      grid-row: 1 / span 1;
      font-size: 48px;
      margin-bottom: 40px;
    }
    &__line {
      display: block;
      min-height: 40px;
      width: 4px;
      margin-left: 90px;
      grid-column: 3 / span 3;
      grid-row: 2 / span 3;
      background-color: $green;
    }
    &__text {
      grid-column: 1 / span 2;
      grid-row: 3 / span 4;
      margin-left: 20px;
    }
    &-btn {
      max-width: 180px;
      max-height: 40px;
      grid-column: 4 / span 5;
      grid-row: 3 / span 3;
    }
  }
}

/* Gallery ================================= */

.gallery {
  &__holder {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-auto-rows: auto;
    gap: 25px;
    padding: 10px;

    @include bp-med {
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
      margin: 20px;
    }
  }

  &__img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 100%;
  }
}

/* Catering ================================= */

.catering {
  display: grid;
  grid-template-columns: 1fr repeat(10, 1fr) 1fr;
  grid-template-rows: 1fr repeat(10, 1fr) 1fr;
  height: 100vh;
  width: 100vw;

  /*bg*/
  background-image: url(/src/img/catering_img.jpg);
  background-attachment: fixed;
  background-size: cover;
  color: $green;
  &__header {
    font-family: "Pacifico", cursive;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  &__text {
    line-height: 1.7;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  &__content {
    background: white;
    border-radius: 3%;
    text-align: center;
    grid-column: 2 / span 10;
    grid-row: 2 / span 11;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
    line-height: 1.3;
  }

  @include bp-med {
    height: 100vh;

    &__content {
      grid-column: 4 / span 6;
      grid-row: 4 / span 6;
      min-height: fit-content;
    }
  }
}

/* Footer ================================= */
.footer {
  display: grid;
  height: 70vh;
  width: 100vw;
  color: $green;

  padding-top: 20px;
  &__content {
    text-align: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: center;
    text-align: center;
  }
  &__header {
    font-family: "Pacifico", cursive;
    padding: 20px;
  }

  &__sub {
    font-size: 22px;
    margin-bottom: 40px;
    padding: 20px;
  }

  &__sec {
    margin-bottom: 60px;
  }
  &__text {
    font-size: 18px;
    line-height: 1.2;
    margin-top: unset;
  }
  @include bp-med {
    padding: 100px;
    background-color: #fcdcec;
    &__content {
      background-color: white;
    }
    &__info {
      display: flex;
      flex-direction: row;

      justify-content: space-around;
      text-align: center;
    }
  }
}
